# Ignorar archivos de caché de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignorar archivos de entorno virtual
.env
venv/
env/

# Ignorar archivos de configuración locales o temporales
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/

